<?xml version="1.0"?>
<config>
	<modules>
		<Magebuzz_Affiliate>
			<version>0.1.1</version>
		</Magebuzz_Affiliate>
	</modules>
	<frontend>
		<routers>
			<affiliate>
				<use>standard</use>
				<args>
					<module>Magebuzz_Affiliate</module>
					<frontName>affiliate</frontName>
				</args>
			</affiliate>
		</routers>
		<layout>
			<updates>
				<affiliate>
					<file>affiliate.xml</file>
				</affiliate>
			</updates>
		</layout>
		<events>
			<controller_action_predispatch>
				<observers>
					<magebuzz_affiliate_observer>
						<type>singleton</type>
						<class>affiliate/observer</class>
						<method>controller_action_predispatch</method>
					</magebuzz_affiliate_observer>
				</observers>					
			</controller_action_predispatch>
			<checkout_type_onepage_save_order_after>
				<observers>
					<magebuzz_affiliate_observer>
						<type>singleton</type>
						<class>affiliate/observer</class>
						<method>checkout_type_onepage_save_order_after</method>
					</magebuzz_affiliate_observer>
				</observers>			
			</checkout_type_onepage_save_order_after>
		</events>
		<translate>
			<modules>
				<Magebuzz_Affiliate>
					<files>
						<default>Magebuzz_Affiliate.csv</default>
					</files>
				</Magebuzz_Affiliate>
			</modules>
		</translate>
	</frontend>
	<admin>
		<routers>
			<affiliate>
				<use>admin</use>
				<args>
					<module>Magebuzz_Affiliate</module>
					<frontName>affiliate</frontName>
				</args>
			</affiliate>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<affiliate>
					<file>affiliate.xml</file>
				</affiliate>
			</updates>
		</layout>
		<translate>
			<modules>
				<Magebuzz_Affiliate>
					<files>
						<default>Magebuzz_Affiliate.csv</default>
					</files>
				</Magebuzz_Affiliate>
			</modules>
		</translate>
	</adminhtml>   
	<global>
		<models>
			<affiliate>
				<class>Magebuzz_Affiliate_Model</class>
				<resourceModel>affiliate_mysql4</resourceModel>
			</affiliate>
			<affiliate_mysql4>
				<class>Magebuzz_Affiliate_Model_Mysql4</class>
				<entities>
					<affiliate>
						<table>affiliate_affiliate</table>
					</affiliate>
					<commission>
						<table>affiliate_commission</table>
					</commission>
					<campaign>
						<table>affiliate_campaign</table>
					</campaign>
					<banner>
						<table>affiliate_banner</table>
					</banner>
					<campaignrelation>
						<table>affiliate_campaign_relation</table>
					</campaignrelation>
					<campaignrule>
						<table>affiliate_campaign_rule</table>
					</campaignrule>
					<transaction>
						<table>affiliate_transaction</table>
					</transaction>
					<payment>
						<table>affiliate_payment_request</table>
					</payment>
				</entities>
			</affiliate_mysql4>
		</models>
		<resources>
			<affiliate_setup>
				<setup>
					<module>Magebuzz_Affiliate</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</affiliate_setup>
			<affiliate_write>
				<connection>
					<use>core_write</use>
				</connection>
			</affiliate_write>
			<affiliate_read>
				<connection>
					<use>core_read</use>
				</connection>
			</affiliate_read>
		</resources>
		<blocks>
			<affiliate>
				<class>Magebuzz_Affiliate_Block</class>
			</affiliate>
		</blocks>
		<helpers>
			<affiliate>
				<class>Magebuzz_Affiliate_Helper</class>
			</affiliate>
		</helpers>
		<events>
			<sales_order_item_save_after>
				<observers>
					<magebuzz_affiliate_observer>
						<type>singleton</type>
						<class>affiliate/observer</class>
						<method>sales_order_item_save_after</method>
					</magebuzz_affiliate_observer>
				</observers>					
			</sales_order_item_save_after>
		</events>
		<template>
      <email>
				<affiliate_email_notification_new_user_sign_up_email_template>
					<label>New User Sign Up</label>
					<file>affiliate/new_user_sign_up.html</file>
					<type>html</type>
				</affiliate_email_notification_new_user_sign_up_email_template>
				<affiliate_email_notification_user_account_approved_email_template>
					<label>User Account Approved</label>
					<file>affiliate/user_account_approved.html</file>
					<type>html</type>
				</affiliate_email_notification_user_account_approved_email_template>
				<affiliate_email_notification_user_account_locked_email_template>
					<label>User Account Locked</label>
					<file>affiliate/user_account_locked.html</file>
					<type>html</type>
				</affiliate_email_notification_user_account_locked_email_template>
				<affiliate_email_notification_user_request_money_email_template>
					<label>User Request Money</label>
					<file>affiliate/user_request_money.html</file>
					<type>html</type>
				</affiliate_email_notification_user_request_money_email_template>
				<affiliate_email_notification_admin_accept_payment_email_template>
					<label>Admin Accept Payment</label>
					<file>affiliate/admin_accept_payment.html</file>
					<type>html</type>
				</affiliate_email_notification_admin_accept_payment_email_template>
				<affiliate_email_notification_admin_reject_payment_email_template>
					<label>Admin Reject Payment</label>
					<file>affiliate/admin_reject_payment.html</file>
					<type>html</type>
				</affiliate_email_notification_admin_reject_payment_email_template>
				<affiliate_email_notification_admin_create_campaign_email_template>
					<label>Admin Create Campaign</label>
					<file>affiliate/admin_create_campaign.html</file>
					<type>html</type>
				</affiliate_email_notification_admin_create_campaign_email_template>
			</email>
    </template>
	</global>	
	<default>
		<affiliate>
			<general>
				<top_link_url>1</top_link_url>
				<minimum_amount>100</minimum_amount>
				<maximum_amount>0</maximum_amount>
				<switch_status>2,9</switch_status>
			</general>
			<email_notification>
				<admin_email><![CDATA[hello@example.com]]></admin_email>
				<sender_email_identity>general</sender_email_identity>
				<new_user_sign_up_email_template>affiliate_email_notification_new_user_sign_up_email_template</new_user_sign_up_email_template>
				<user_account_approved_email_template>affiliate_email_notification_user_account_approved_email_template</user_account_approved_email_template>
				<user_account_locked_email_template>affiliate_email_notification_user_account_locked_email_template</user_account_locked_email_template>
				<user_request_money_email_template>affiliate_email_notification_user_request_money_email_template</user_request_money_email_template>
				<admin_accept_payment_email_template>affiliate_email_notification_admin_accept_payment_email_template</admin_accept_payment_email_template>
				<admin_reject_payment_email_template>affiliate_email_notification_admin_reject_payment_email_template</admin_reject_payment_email_template>
				<admin_create_campaign_email_template>affiliate_email_notification_admin_create_campaign_email_template</admin_create_campaign_email_template>
			</email_notification>
        </affiliate>
    </default>
</config>